@tailwind base;
@tailwind components;
@tailwind utilities;

/* DM_SANS */
@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
